body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

body p,
body h1,
body h2,
body h3,
body h4 {
  margin: 0;
}

label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

label.required::after {
  content: '*';
  margin-left: 2px;
  color: red;
}

/* Login */
.login-container {
  width: 60%;
}

.aside-login {
  font-size: 4.1rem;
}

.content {
  transition: margin-left 0.3s ease;
}

/* Dashboard */
.dashboard-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calendar {
  width: 400px;
}

.dashboard-table {
  width: 60%;
  padding: 20px 20px 0 0;
}

/* Pagination */
.bottom-pagination-responsive {
  display: none !important;
}

/* Course */
.course-content {
  width: 80%;
}

/* Management Portal */

.management-portal-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.management-portal-content-card {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.curd-button {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}

.hamburger-curd-button {
  display: none;
}

/* Navbar */

.responsive-search {
  display: none;
}

.navbar {
  width: 100%;
  padding: 27px 27px 40px 27px;
}

.navbar-search {
  width: 70%;
}

.dropdown-content {
  display: flex;
  align-items: center;
}

.dropdown-avatar {
  margin-right: 12px;
}

.dropdown-profile {
  padding-right: 10px;
}

.dropdown-profile h3 {
  font-weight: 400;
  font-size: 14px;
}

.dropdown-profile h4 {
  font-weight: 400;
  font-size: 12px;
}

.position-recaptcha {
  margin: 24px 0px 24px 0px;
}

/* Category */

.indicator p {
  font-weight: bold;
  font-size: 24px;
}

.category-content {
  display: flex;
}

.category-table {
  width: 100%;
  margin-left: 12px;
}

.category-search {
  width: 250px;
}

.category-search-input {
  height: 25px;
  padding: 23px 10px;
  margin: 10px 0 20px;
}

@media only screen and (max-width: 1400px) {

  /* Navbar */
  .navbar-search {
    width: 60%;
  }

  /* Dashboard */
  .calendar {
    width: 300px;
  }
}

@media only screen and (max-width: 1150px) {

  /* Navbar */
  .navbar-search {
    width: 45%;
  }

  /* Dashboard */
  .dashboard-table {
    width: 100%;
    padding: 0;
  }

  .calendar {
    width: 100%;
  }

  /* Login */
  .aside-login {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 950px) {

  /* Category */
  .category-content {
    flex-direction: column;
  }

  .category-table {
    margin: 30px 0;
  }

  /* Navbar */
  .navbar-search {
    width: 35%;
  }

  /* Side Bar */
  .collapsed {
    margin-left: 80px !important;
    /* Gunakan !important untuk menimpa inline style */
  }

  .dashboard-menu {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Login */
  .aside-login {
    font-size: 3rem;
  }

  .category-search {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .position-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
  }

}

@media only screen and (max-width: 650px) {

  /* Navbar */
  .navbar-search {
    display: none;
  }

  /* Pagination */
  .bottom-pagination-card {
    display: none !important;
  }

  .bottom-pagination-responsive {
    display: flex !important;
  }
}

@media only screen and (max-width: 550px) {

  /* Category */
  .button-post-category {
    padding: 20px 0;
  }

  .indicator p {
    font-size: 18px;
  }

  .category-search-input {
    padding: 10px;
  }

  /* Navbar */
  .navbar {
    justify-content: flex-end;
    column-gap: 20px;
  }

  .dropdown-avatar {
    margin-right: 10px;
  }

  .dropdown-profile,
  .dropdown-profile h4,
  .dropdown-profile h3,
  .down-outlined-account {
    display: none;
  }

  .dashboard-menu {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Login */
  .input-formik {
    font-size: 9px;
  }

  .text-show {
    font-size: 9px !important;
  }
}

@media only screen and (max-width: 450px) {

  /* Course */
  /* .course-content img {
    height: 150px !important;
  } */

  .course-content p {
    font-size: 10px;
  }

  /* Management Portal */
  .management-portal-card p {
    font-size: 10px;
  }

  .curd-button {
    display: none;
  }

  .hamburger-curd-button {
    display: flex;
  }

  .management-portal-content-card {
    margin-right: 0;
  }

  .card .ant-card-body {
    padding: 10px;
  }

  /* Login */
  .position-recaptcha {
    transform: scale(0.64);
    transform-origin: 0 0;
  }
}

@media only screen and (max-width: 378px) {

  /* Course */
  /* .course-content img {
    height: 100px !important;
  } */

  /* Navbar */
  .navbar {
    column-gap: 5px;
  }
}

.text-title {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-title-info {
  color: #8692a6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.form-input-top {
  margin-top: 32px;
  width: 100%;
}

.form-input-bottom {
  margin-top: 24px;
  width: 100%;
}

/* Form Input CSS */

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.form-input__label {
  color: #696f79;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-input__input {
  display: flex;
  max-height: 62px;
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #8692a6;
  margin-top: 11px;
}

.text-show {
  color: #000;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  right: 2rem;
  z-index: 999;
}

input:focus {
  /* outline-offset: -2px;   */
  outline-color: #9f0e0f;
  border: 1px solid #9f0e0f;
}

.error {
  color: #9f0e0f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

/* Modal CSS */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 1000vh;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.modal {
  width: 636px;
  max-height: 438px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 87.5% */
}

.modalContent {
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}

.modalContentRed {
  padding: 10px;
  color: var(--Primary, #9f0e0f);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}

.modalActions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 40px;
  cursor: pointer;
  border: none;
  transition: all 0.25s ease;
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--Font-Menu-HighLight, #ededed);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
  background: var(--Primary, #9f0e0f);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 40px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(235, 225, 225, 0.791);
  transform: translate(-4px, 4px);
  background: whitesmoke;
}

.successBtn {
  margin-top: 40px;
  cursor: pointer;
  border: none;
  transition: all 0.25s ease;
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--Font-Menu-HighLight, #ededed);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
  background: #00c82c;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.successBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(7, 192, 75, 0.04);
  transform: translateY(-5px);
  background: #8eeb90;
}

.containerModalImgRed {
  display: flex;
  padding: 32px;
  width: 96px;
  height: 96px;
  border-radius: 100px;
  background-color: #f7ecec;
}

.containerModalImgGreen {
  display: flex;
  padding: 32px;
  width: 96px;
  height: 96px;
  border-radius: 100px;
  background-color: rgba(0, 200, 44, 0.1);
}

.modalImage {
  width: 100%;
  height: 100%;
}